
/* ==========================================================================
   setting mediascreen-header
   ========================================================================== */
@import 'header/media-header';
@import 'footer/media-footer';

@import 'page-media/media-screen-login';
@import 'page-media/akun-setting-media';
@import 'page-media/homepage-media';
@import 'page-media/login-media';
@import 'page-media/register-media';
@import 'page-media/reset-password-media';
@import 'page-media/list-kategori-media';
@import 'page-media/produk-detail-media';
@import 'page-media/booking-1-media';
@import 'page-media/host-request-media';


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .modal-dialog{
    /*margin: 15% auto;*/
  }
}


@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
 body{
   #toTop{
     visibility: hidden;
   }
 }
}

@media only screen and (max-width : 320px) {

}
