


@font-face {
    font-family: 'texgyreadventorregular';
    src: url('../fonts/texgyreadventor/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor/texgyreadventor_regular_macroman/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventoritalic';
    src: url('../fonts/texgyreadventor/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.eot');
    src: url('../fonts/texgyreadventor/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor/texgyreadventor_italic_macroman/texgyreadventor-italic-webfont.svg#texgyreadventoritalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'texgyreadventorbold';
    src: url('../fonts/texgyreadventor/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.eot');
    src: url('../fonts/texgyreadventor/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor/texgyreadventor_bold_macroman/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'texgyreadventorbold_italic';
    src: url('../fonts/texgyreadventor/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.eot');
    src: url('../fonts/texgyreadventor/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreadventor/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.woff') format('woff'),
         url('../fonts/texgyreadventor/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreadventor/texgyreadventor_bolditalic_macroman/texgyreadventor-bolditalic-webfont.svg#texgyreadventorbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
