/*-----------------------------
 NAVIGASI & HEADER STYLE
--------------------------------*/

/*Navigasi*/
@media screen and (max-width : 768px) {
    .navbar-collapse.collapse {
        display : none !important;
        }

    .navbar-default-putih {
        background    : #fff !important; //255, 255, 255, 0.5
        padding       : 0;
        border-bottom : none;
        }
    }

@media (min-width : 768px) {
    .navbar-default-putih {
      background-color   : #fff;
      padding: 10px 0;
      border-color       : transparent;
      border-bottom: 1px solid #eee;
      ul.menu{
        li.wellcome a{

        color: #000;
        }
      }
        -webkit-transition : all .5s ease-in-out;
        -moz-transition    : all .5s ease-in-out;
        transition         : all .5s ease-in-out;
        }

    .sticky-nav.navbar-default-putih {
        background-color : #fff; //255, 255, 255, 0.5
        padding          : 5px 0;
        ul.menu{
          li.wellcome a{
          color: #111;
          }
        }
        .hd-putih .menu-navbar-g{

          .trigger-menug{
            color: #111;
          }
        }
        .btn-login-box{
          a{
            color: #111;
          }
        }
        .menu-navbar-g .list-menug{

          //top:35px;
          top : 55px;
        }

        }

    .navbar-right .dropdown-menu {
        right : auto;
        }
    }

.navbar-default-putih {
    margin-bottom : 0;

		ul.menu{

			li.wellcome {

				img.userImg{
					border-radius: 50%;
					height: 35px;
					width: 35px;
				}
				a{
					line-height: 10px;
					margin-left: 5px;
					vertical-align: middle;
					font-size: 14px;
					font-weight: 600;
				}
			}
		}

    }
    .hd-putih .lang-toggle{
      color: #111;
    }
    .hd-putih .menu-navbar-g{

      .trigger-menug{
        color: #111;


      }

    }
    .btn-login-box{
      line-height: 28px;
      //margin: 0 0 0 10px;
      margin: 0.5em 0 0.5em 1em;
      a{
        font-size: 14px;
        color: #fff;
        font-weight: bold;
      }
    }
.navbar-brand {
    padding        : 0.5em;
    height         : 50px;
      img{
        max-height: 60px;
        max-width: 100px;
      }
    }


.navbar-default-putih .navbar-nav > li {
    margin-right : 17px;
    }

.navbar-default-putih .navbar-nav > li:last-child {
    margin-right : 0px;
    }

.navbar-default-putih .navbar-nav > li > a {
    color          : #111;
    font-size      : 13px;
    font-weight    : 700;
    padding        : 8px 17px;

    text-transform : uppercase;
    }

.navbar-default-putih .navbar-nav > li > a:focus,
.navbar-default-putih .navbar-nav > li > a:hover {
    color            : #111;
    background-color : transparent;
    border           : 2px solid #111;
    }

.navbar-default-putih .navbar-nav > .active > a,
.navbar-default-putih .navbar-nav > .active > a:focus,
.navbar-default-putih .navbar-nav > .active > a:hover {
    color            : #111;
    background-color : transparent;

    }

.navbar-default-putih .navbar-nav > li > a:focus,
.navbar-default-putih .navbar-nav > li > a:hover {
    color : #111;
    }

.nav-cta {
    float              : right;
    margin-right       : 40px;
    margin-left        : 20px;
    line-height        : 40px;
    -webkit-transition : all .3s ease-in-out;
    -moz-transition    : all .3s ease-in-out;
    transition         : all .3s ease-in-out;
    }

.nav-cta > li > a {
    display     : inline-block;
    color       : #111;
    width       : 20px;
    height      : 34px;
    line-height : 34px;
    text-align  : center;
    }

.nav-cta .dropdown-menu {
    left  : auto;
    right : 0;
    }

.pencarian {
    width : 370px;
    }

.pencarian {
    padding : 8px;
    }

.pencarian .form-control {
    height : 40px;
    }

.pencarian .btn {
    padding : 10px 20px;
    }

/*Dropdown Menu

.dropdown-menu {
    display            : inherit;
    top                : 100% !important;
    padding            : 0;
    font-size          : 13px;
    opacity            : 0;
    visibility         : hidden;
    border             : 1px solid #f5f5f5;
    border-radius      : 0;
    box-shadow         : 0px -2px 0px #000000;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition         : all 0.3s ease 0s;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    transform: translateY(50px);
    }

.dropdown:hover .dropdown-menu {
    display    : block;
    margin-top : 28px !important;
    opacity    : 1;
    visibility : visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    }

.dropdown-menu::before {
    top      : -30px;
    content  : "";
    position : absolute;
    width    : 100%;
    height   : 30px;
    display  : block;
    }
    */

.sticky-nav .dropdown:hover .dropdown-menu {
    margin-top : 14px !important;
    }

.judul-kolom {
    font-size      : 11px;
    line-height    : 30px;
    font-weight    : 600;
    color          : #313131;
    text-transform : uppercase;
    }

.dropdown-menu li a {
    display     : block;
    font-size   : 13px;
    line-height : 30px;
    color       : #969595;
    padding     : 3px 20px;
    }

.dropdown-menu li a:hover {
    color            : #72D8C4;
    background-color : #f5f5f5;
    padding-left     : 25px;
    }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color            : #72D8C4;
    background-color : #f5f5f5;
    padding-left     : 25px;
    }

.navbar-default-putih .navbar-nav > .open > a,
.navbar-default-putih .navbar-nav > .open > a:focus,
.navbar-default-putih .navbar-nav > .open > a:hover {
    color            : #000000;
    background-color : transparent;
    }

/*Mega Menu*/
.m-menu .nav,
.m-menu .collapse,
.m-menu .dropup,
.m-menu .dropdown {
    position : static;
    }

.m-menu .container {
    position : relative;
    }

.m-menu .dropdown-menu {
    left : auto;
    }

.m-menu .m-menu-kolom {
    }

.m-menu .dropdown.m-menu-fw .dropdown-menu {
    left  : 15px;
    right : 15px;
    }

.m-menu-kolom ul {
    border-right : 1px solid #f5f5f5;
    padding      : 20px;
    }

.m-menu-kolom ul:last-of-type {
    border-right : 0;
    }

@media (max-width : 768px) {
    .navbar-toggle {
        display : block;
        }
    }

.navbar-toggle {
    position      : absolute;
    right         : 0;
    padding       : 5px 10px;
    border        : 0;
    border-radius : 0;
    }

.navbar-default-putih .navbar-toggle:focus,
.navbar-default-putih .navbar-toggle:hover {
    background-color : transparent;
    }

.navbar-toggle .icon-bar {
    width  : 14px;
    height : 3px;
    }

.navbar-default-putih .navbar-toggle .icon-bar {
    background-color : #111;
    }

.navbar-toggle .icon-bar + .icon-bar {
    margin-top : 2px;
    }

/*uc-mobile-menu*/
.uc-mobile-menu {
    }

.uc-mobile-menu-container > div {
    visibility : hidden;
    }
