.blog-wrap{
  position: relative;
  width: 100%;
  padding-top: 8em;
    .post-thumb{
      position: relative;
      width: 100%;
      margin-bottom: 1.5em;
    }
    .thumbnail-post{
      position: relative;
      max-width: 400px;
      max-height: 350px;
      cursor: pointer;
    }
    img.post-img{
      position: relative;
      width: 100%;
      height: 100%;
    }
    img.post-img:hover{opacity: 0.8;}
    .blog-konten{
      a.tittle-post{font-size: 24px;font-weight: bold;color: #000;}
      p{font-size: 14px;text-align: left;color: #000;}
      p.attr{font-size: 12px;color: #bdbdbd; span{font-weight: bold;color: $coloridentitas1;}}
      a.read-more{font-weight: 18px; font-weight: bold;}
    }
}
