.form-email{
  position: relative;
  min-width: 100%;
  padding-top: 10em;
  min-height: 400px;
    h1,p{text-align: center;}
    h1.Tittle{
      font-size: 30px;
      font-weight: bold;
    }
    .btn-wrap23{
      position: relative;
      margin: 1em 0;
      text-align: center;
        .btn{
          width: 25%;
          padding        : 8px 30px;
        }
    }

}
