.Welcome-sec{
  position: relative;
  margin: 0;
  padding-top: 8em;
  width: 100%;
  min-height: 200px;
  background: url('../img/bgpt.png') no-repeat;

  .text-col{padding-left: 0;}

  background-size:cover;
  background-position: center;
  .foto-host{
    text-align: center;
    position: relative;
    padding-bottom: 2.5em;
    img{
      right: 0;
      border-radius: 50%;
      height: 130px;
      width: 130px;
    }
  }
  .wellcome-text{
    position: relative;
    width: 100%;
      padding: 1.5em 0;
        h1.tittle{
          font-size: 30px; font-weight: bold;color: #fff;
          margin-bottom: 1em;
        }
        p{line-height: 15px;font-size: 14px;color: #fff;}
  }
}
.Guest-section{
  position: relative;
  width: 100%;
  margin-top: 0;
  min-height: 300px;
}
.tab-guest-inbox{
  .inbox-section{
    margin-top: 2em;
  }
}

.tabs1{background-color: #fafafa;}
.tab-My-Booking{
  position: relative;
  width: 100%;

  .ma-booking{
    position: relative;
    width: 100%;
    margin-top: 1em;
    .tabs2{
      .tab-link2{
        background-color: #fff;
      }
      .tab-link2.current2{
        .tes{
         border-bottom: 4px solid $coloridentitas1;
          padding-bottom: 0.9em;
        }
        p{color: #000;font-weight: bold;}
      }
    }

    .booking-status{
      position: relative;
      width: 100%;
      margin: 2em 0;
      padding: 1.5em;
      padding-bottom: 3em;
      border: 1px solid #bdbdbd;
      .img-Booking{
        position: relative;
        min-width: 100%;
        img{
          position: relative;
          width: 100%;
          min-height: 300px;
          //min-width: 300px;
          //min-width: 330px;
          //max-width: 300px;
          //max-height: 330px;

        }
        button{margin-top: 1.5em; width: 100%;}
      }
      table.detail-booking{
        position: relative;
        width: 100%;
        thead{
          th{
            h3{
              font-size: 18px;
              font-weight: bold;
              color: $coloridentitas1;
            }
          }
        }
        tbody{
          td{
            padding: 0.5em 0;
            p{
              line-height: 15px;
            }
            .p-text{
              font-size: 12px;
              color: #bdbdbd;
            }
            .a-text{
              font-size: 14px;
              color: #000;
            }
            h3.price-text{
              font-size: 18px;
              font-weight: bold;
              color: $coloridentitas1;
            }
          }
        }

      }

    }
    .active-booking,.pending-booking,.histori-booking{
      span.status-doang{
        cursor: default;
        color            : $coloridentitas1;
        background-color : transparent;
        border-color     : $coloridentitas1;
      }
    }
    .pending-booking{
      a.btn{margin-top: 1em;}
    }
    .histori-booking{
      a.btn{margin-top: 1em;}
    }

  }
}

.guest-inbox{
  border: 1px solid #bdbdbd;
  padding: 1em;
  .message-sec{
    border-bottom: 0;
    span.btn{
      position: absolute;
      right: 0;
      top:0;
      width: 15%;
      padding        : 5px 30px;
      cursor: default;
    }
    span.status-doang{
      cursor: default;
      color            : $coloridentitas1;
      background-color : transparent;
      border-color     : $coloridentitas1;
    }
  }
}
