.slider-section{
  position: relative;
  width: 100%;
  height: auto;
  .float-konten{
    position: absolute;
    width: 100%;
    text-align: center;
    top:30%;
    //left:50%;
    //-webkit-transform: translateX(-50%);
  //  -webkit-transform: translateY(-100%);
    //transform: translateX(-50%);
    //transform: translateY(-100%);
  //  overflow: auto;
    z-index: 15;

    h1{font-size: 72px;font-weight: bold;color: #fff;margin-bottom: 0.5em;}
    p{font-size: 24px;color: #fff; }
    .search-destination{
      position: relative;

      margin: 2em auto;
    }

    div.searchGabung{
      position: relative;
      vertical-align: middle;
      float: left;width: 100%;
      margin-top: 0.8em;
      input.datatext {
          height: 30px;
          padding-left: 3.5em;
          width: 70%;
          box-shadow: none;
          outline: none;
          border-color: #eee;
          border-radius: 0;

          background: url('../img/search.png') no-repeat $mainbg;
          background-position: left 1em top 50%;
          background-size: 15px 15px;

          border-top: #eee 1px solid;
          border-left: #eee 1px solid;
          COLOR: #000000;
          border-bottom: #eee 1px solid;
          //height:18px;
          position:relative;
          left:3px;
        }
    #cariLabel {
            position: relative;
            width: 70%;
        }

      select.contentselect {
            width: 30%;
            height: 30px;

            position:absolute;
            -webkit-appearance:none;
            -moz-appearance:none;
            appearance:none;
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;/* Safari 3-4, iOS 1-3.2, Android 1.6- */
            background-color: $mainbg;
            box-shadow: none;
            outline: none;
            border-color: #eee;
            color: #757575;
            border-top: #eee 1px solid;
            border-bottom: #eee 1px solid;
            border-left:none;

            background: url('../img/angle-down.png') no-repeat $mainbg;
            background-position: right 1em top 50%;
            background-size: 10px 10px;

        }
    }


    .howitworks-btn{
      margin-top: 2em;
      background-color: rgba(0,0,0,0.6);
      border-radius: 3px;
      padding: 8px 30px;
      color: #fff;
      font-size: 18px;
        i::before{font-family: 'FontAwesome';content: '\f013';margin-right: 5px;color: #fff;}
    }
  }
}
.trvell-slide{
  position: relative;
  height: 100%;
  min-width: 100%;
  .owl-item,.owl-stage,.owl-stage-outer{
    height: 100%;
  }
  .owl-item.portrait img {
  	min-width: 100%;
  	min-height: 100%;
  }
  .owl-item.landscape img {
  	width: 100%;
  	min-height: 100%;
  }

}

.header-section{
  position: relative;
  margin: 0;
    min-height: 800px;
		background-image: url('../img/overlay.png'), url('../img/home.jpg');
    background-size: auto, cover;
		background-position: top left, center center;
		background-repeat: repeat, no-repeat;

		text-align: center;
		color: #fff;
		  .header-content{
        position: relative;
        background-color: rgba(0,0,0,0.5);
        width: 100%;
        min-height: 800px;
        margin: 0;
        padding: 18em 0 18em 0;
        h1{font-size: 72px;font-weight: bold;color: #fff;margin-bottom: 0.5em;}
        p{font-size: 24px;color: #fff; }
        .search-destination{
          position: relative;

          margin: 2em auto;
        }

        div.searchGabung{
  				position: relative;
  				vertical-align: middle;
  				float: left;width: 100%;
  				margin-top: 0.8em;
  				input.datatext {
  						height: 30px;
  						padding-left: 3.5em;
  						width: 70%;
  						box-shadow: none;
  						outline: none;
  						border-color: #eee;
  						border-radius: 0;

  						background: url('../img/search.png') no-repeat $mainbg;
  						background-position: left 1em top 50%;
  						background-size: 15px 15px;

  		        border-top: #eee 1px solid;
  		        border-left: #eee 1px solid;
  		        COLOR: #000000;
  		        border-bottom: #eee 1px solid;
  		        //height:18px;
  				    position:relative;
  				    left:3px;
  			    }
  			#cariLabel {
  					    position: relative;
  							width: 70%;
  					}

  			  select.contentselect {
  							width: 30%;
  							height: 30px;

  			        position:absolute;
  							-webkit-appearance:none;
  							-moz-appearance:none;
  							appearance:none;
  							-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  							-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  							box-sizing: border-box;/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  							background-color: $mainbg;
  							box-shadow: none;
  							outline: none;
  							border-color: #eee;
  							color: #757575;
  			        border-top: #eee 1px solid;
  			        border-bottom: #eee 1px solid;
  			        border-left:none;

  							background: url('../img/angle-down.png') no-repeat $mainbg;
  							background-position: right 1em top 50%;
  							background-size: 10px 10px;

  			    }
  			}


        .howitworks-btn{
          margin-top: 2em;
          background-color: rgba(0,0,0,0.6);
          border-radius: 3px;
          padding: 8px 30px;
          color: #fff;
          font-size: 18px;
            i::before{font-family: 'FontAwesome';content: '\f013';margin-right: 5px;color: #fff;}
        }
      }


}
.featured-destinations{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 2em 0 1em 0;

    .tittle-destinations{
      position: relative;
      margin: auto;
      margin-bottom: 2em;
      text-align: center;
        img{margin-bottom: 1em}
        h2{font-size: 30px;font-weight: bold;color: #000;}
        p{font-size: 18px;}
    }
}
.parasection1{
  background: url('../img/ujungkulon.png') no-repeat center;
  background-size: auto, cover;
  position: relative;
  width: 100%;
  margin: 0 0 2em 0;
  padding: 3em;
  min-height: 300px;
  p,h1{text-align: center;}
}
.parallax-section{
  position: relative;
  width: 100%;
  margin: 1em 0;

}


.parallax-section {
  position: relative;
  width: 100%;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.parallax-section {
  //background-image: url("../img/ujungkulon.png");
  background-image: url('../img/bgquote.jpg');
  min-height: 300px;
}


.captionw {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #fff;
  img{margin-bottom: 1em}
  h2{font-size: 30px;font-weight: bold;color: #fff; a{color: #fff;}}
  p{font-size: 18px;}
}

.captionw span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax-section {
        background-attachment: scroll;
    }
}



.works{
  position: relative;
  width: 100%;
  padding: 2em 0;
    .tittle{
      position: relative;
      width: auto;
      margin: auto;
      margin-bottom: 2em;
      text-align: center;
      img{margin-bottom: 1em;}
      h2{font-size: 30px;font-weight: bold;color: #000;}
      p{font-size: 18px;}
    }
    .kon{
      position: relative;
      width: 100%;
        .lis-kon{
          position: relative;
          width: 100%;
          text-align: center;
          img{margin-bottom: 1em;}
          p{font-size: 14px; text-align: center;}
        }
    }
}
