.login-section{
  position: relative;
  min-width: 100%;
  padding-top: 10em;
  padding-bottom: 3em;
  min-height: 400px;
}

.login-wrap{

    h1,p{text-align: center;}
    h1.Tittle{
      font-size: 30px;
      font-weight: bold;
    }
    .social-login{
      position: relative;
      width: 100%;
      padding: 1em 0;
      margin-bottom: 1em;
      border-bottom: 1px solid #eee;
        .fb-col{padding-right: 0.5em}
        .google-col{padding-left: 0.5em}
        a{text-align:center; display: block; padding: 6px 15px; font-size: 14px; font-weight: bold; border-radius: 4px; span{position: relative; margin-right: 0.8em; vertical-align: text-top;}}
        .btn-fb{background-color: #3b5998; color: #fff; padding: 8px 15px; span{vertical-align:middle;}}
        .btn-google{background-color: #fff; color: #000;border: 1px solid #bdbdbd; }
        .btn-fb span::before {
          font-family: 'FontAwesome';
          content: '\F09A';
          font-size: 16px;
          color: #fff;
        }
        .btn-google span::before{
          content: url('../img/google.png');
          position: relative;
          top:2px;
          right: 3px;
        }
    }
    .rnf-col{
      position: relative;
        .remember-me{
          position: relative;
          text-align: left;
        }
        .forgot-pass{
          position: relative;
          text-align: right;
            a{text-decoration: underline;}
        }
    }
    .btn-wrap23{
      position: relative;
      margin: 1em 0;
      text-align: center;
        .btn{
          width: 40%;
          padding        : 5px 30px;
        }
    }
    .sign-up{
      font-size: 14px;
      text-align: center;
        a{text-decoration: underline;}
    }

}
