.pageNoteFound{
  position: relative;
  min-width: 100%;
  padding-top: 12em;
  min-height: 500px;
    .content404{
      position: relative;
      width: 100%;
      margin: 2em 0;
      text-align: center;
    }
    text-align: center;
    p,h1,a{text-align: center;}
    h1{font-size: 36px;font-weight: bold;color: $coloridentitas1;}
    a.btn{width: 35%; margin: 1em auto;}
}
