.Payout-History-section{
  position: relative;
  width: 100%;
  margin: 1em 0;
  min-height: 400px;

    .congratulation-section{
      position: relative;
      width: 100%;
      padding: 3em;
      margin-bottom: 1.5em;
      background-color: $coloridentitas1;
        p,h2{text-align: center;color: #fff; font-weight: bold;}
        p{font-size: 18px;}
        h2{font-size: 28px;}
    }
    .table-sales{
      position: relative;
      width: 100%;
      margin: 1em 0;
      margin-bottom: 3em;
        table{
          position: relative;
          width: 100%;
            thead{
              border: 1px solid #bdbdbd;
              th{padding: 1em 0;text-align: center;font-size: 12px;color: #bdbdbd}
            }
            tbody{
              tr{
                border-top: 1px solid #bdbdbd;
              }

              td{
                padding: 1em 0; text-align: center;font-size: 14px;color: #111;
              }
              tr:last-child{margin-bottom: 1.5em; border-bottom: 1px solid #bdbdbd;}
            }
            tfoot{

              tr{
              border: 1px solid #bdbdbd;}
              td{ padding: 1em 0; text-align: center; font-size: 14px; font-weight: bold; color: #111;}
              .total{text-align: right;}
            }
        }
    }
  
}
