.Request-Payout-section{
  position: relative;
  width: 100%;
  margin: 1em 0;
    .av-balance-box{
      position: relative;
      width: 100%;
      text-align: center;
      margin: 1.5em 0;
      background-color: $coloridentitas1;
      padding: 3em;
      p,h2{text-align: center;color: #fff;font-weight: bold;}
      p{font-size: 18px;}h2{font-size: 30px;}


    }
    .form-content{
      position: relative;
      width: 100%;
      margin: 1em 0;

        form{position: relative;width: 100%;}
        a.AddnEdit{margin-bottom: 2em;}
        p.text-info{text-align: center;font-size: 14px;color: #000;}
        .btnsubmit-box{
          position: relative;
          margin: 1em auto;
          width: 100%;
          text-align: center;
        }
      .btn-req-payout{width: 35%; margin: 1em auto;}
    }
}
.Request-Payout-step2{
  position: relative;
  width: 100%;
  margin: 1.5em 0;
  border: 1px solid #bdbdbd;
  padding: 1.5em;
    p,h3{text-align: center;}
    .action-btn{
      position: relative;
      width: 50%;
      margin: 2em auto;
    }
    h3{
      font-weight: bold;
      font-size: 18px;
      color: #000;
    }
    p.j-text,p.p-text{
      line-height: 20px;
    }
    p.p-text{
      font-size: 14px;
      color: #bdbdbd;
    }
    p.j-text{
      font-size: 14px;
      color: #000;
    }
}
.Request-Payout-step3{
  position: relative;
  width: 80%;
  margin: 2em 0;
  min-height: 400px;
  p,h2{text-align: left;}
  h2{font-size: 28px;font-weight: bold;color: #000;}
  p{font-size: 14px;color: #000;}
  p.regards{margin-top: 2em;}
  a.btn{margin-top: 2em; width: 35%;}
}
