.u-cons{
  position: relative;
  min-width: 100%;
  padding-top: 4em;
  min-height: 400px;
    .cons-konten{
      position: relative;
      width: 100%;
      text-align: center;
      padding: 1em auto;

        h1{
          line-height: 28px;
          font-size: 36px;
          color: $coloridentitas1;
          font-weight: bold;
        }
        p.text{font-size: 14px;}
        img.tr-logo{
          margin: 1em auto 0.5em auto;
          max-width: 360px;
          max-height: 340px;
        }
        img.cons-pic{
          margin: 1em auto;
          max-width: 350px;
          max-height: 250px;
        }
    }

}


/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
}
@media only screen and (max-width : 360px) {
  .u-cons{
    .cons-konten{
      h1{font-size: 30px}
      img.tr-logo{
        margin: 1em auto;
        max-width: 210px;
        max-height: 280px;
      }
      img.cons-pic{
        margin: 1em auto;
        max-width: 250px;
        max-height: 280px;
      }
    }
  }


}
@media only screen and (max-width : 320px) {
  .u-cons{
    .cons-konten{
      h1{font-size: 30px}
      img.tr-logo{
        margin: 1em auto;
        max-width: 210px;
        max-height: 280px;
      }
      img.cons-pic{
        margin: 1em auto;
        max-width: 250px;
        max-height: 280px;
      }
    }
  }
}
