.user-profile-wrap{
  position: relative;
  min-width: 100%;
  padding-top: 10em;
  min-height: 400px;
    .userInfo-box{
      position: relative;
      width: 100%;
        .profile-info{
          position: relative;
          width: 100%;
          .foto-host{
            margin: 0 auto 0.5em auto;
            position: relative;
            text-align: center;
            img{
              border-radius: 50%;
              height: 150px;
              width: 150px;
            }
          }
          .greeting-col{
            padding-left: 0;
          }
          .greeting-box{
            position: relative;
            width: 100%;
              h1.hello{
                font-size: 30px;
                font-weight: bold;
                  span{
                    text-transform: capitalize;
                    color: $coloridentitas1;
                  }
              }
              .loc,.lang,.greeting-text{font-size: 14px; line-height: 20px;}
              .greeting-text{margin-top: 1.5em;}
          }
        }
        .Verified-box{
          position: relative;
          width: 100%;
          margin: 0;padding: 0;
            .tittle-verified{
              background-color: $coloridentitas1;
              padding: 5px 15px;
                p.tittle-text{font-size: 14px;color: #fff; text-align: center;vertical-align: middle;line-height: 20px;margin-top: 5px;}

            }
            .verivied-content{
              position: relative;
              width: 100%;
              padding: 1em;
              border: 1px solid #eee;
              border-top: 0;
                .lv{font-size: 14px; display: block;}
                .lv::after{
                  font-family: FontAwesome;
                  content: '\f05d';
                  color: $coloridentitas1;
                  float: right;
                  right: 5px;
                  font-size: 16px;
                }
                a.learn-more{
                  color: $coloridentitas1;
                  font-size: 14px;
                }
                a.learn-more::after{
                  font-family: FontAwesome;
                  content: '\f101';
                  color: $coloridentitas1;
                  font-size: 16px;
                  margin-left: 5px;
                  line-height: 25px;
                }
            }
        }
    }
    .recommended{
      position: relative;
      width: 100%;
      margin-top: 3em;
        p.tittle-Recommended{
          margin-bottom: 1em;
          font-size: 18px;
          font-weight: bold;
        }
    }

    .review-wrap{
      position: relative;
      width: 100%;
      margin: 1em 0 2em 0;

        h3{
          font-size: 18px;
          font-weight: bold;
        }
        p.subt{
          line-height: 10px;
          font-size: 14px;
          color: #757575;
          font-weight: bold;
        }
        table.review{
          width: 100%;
          margin: 1em 0;
            td.img-column{width: 8%;}
            td.review-column{width: 92%;

            }

              div.guests-img{
                margin: 0 auto;
                img{
                  border-radius: 50%;
                  height: 60px;width: 60px;
                }
                p.guest-name{
                  text-align: left;
                  margin-left: 0.5em;
                  font-size: 12px;
                  font-weight: bold;
                  margin-top: 0.5em;
                }
              }

              .review-text{
                border-bottom: 1px solid #eee;
                padding-bottom: 1em;
                p{line-height: 10px;}
                p.isi-review{
                  font-size: 14px;
                  font-weight: bold;
                }
                p.info-review{
                  font-size: 12px;
                  color: #7d7d7d;
                }
                p.info-review::after{
                  font-family: FontAwesome;
                  content: "\f11d";
                  margin-left: 5px;
                }
              }

        }
        button{
          width: 30%;
          font-weight: bold;
        }
    }

}
