/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
  .booking-wrap{
    padding-top: 7em;

    form {
      .booking-form{
        margin-top: 2em;
        h1.tittle{font-size: 28px;}
        .tittle-col{
          padding-right: 1em;
        }
        .lname-col,.national-col{
          padding-left: 1em;
        }
      }
      .btn-wrap23{
        .btn{width: 100%;}
      }
    }
  }
}

@media only screen and (max-width : 320px) {

}
