/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .header-section{
    .header-content{
      h1{font-size: 48px;}
      p{font-size: 20px;}
      .boxed50{max-width: 50%;}
      .search-destination{
        .lse{padding-right: 1em;}
        .rse{padding-left:1em;}
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .header-section{
    .header-content{
      .boxed50{max-width: 50%;}
      .search-destination{
        .lse{padding-right: 0;}
        .rse{padding-left: 0; }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
  .header-section{
    .header-content{
      h1{font-size: 28px;}
      p{font-size: 14px;}
      .boxed50{max-width: 65%;}
      .howitworks-btn{font-size: 14px;}
      .search-destination{
        .lse{padding-right: 1em;}
        .rse{padding-left:1em;}
      }
    }
  }
}

@media only screen and (max-width : 320px) {
  .header-section{
    .header-content{
      h1{font-size: 20px;}
      p{font-size: 12px;}
      .boxed50{max-width: 75%;}
      .howitworks-btn{font-size: 14px;}
      .search-destination{
        .lse{padding-right: 1em;}
        .rse{padding-left:1em;}
      }
    }
  }
  .featured-destinations{
    .tittle-destinations{
      h2{font-size: 24px;}
      p{font-size: 14px;}
    }
  }
  .works{
    .tittle{
      h2{font-size: 24px;}
      p{font-size: 14px;}
    }
  }
}
