/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
  .Tittle-Host-reg-sec {
    .wellcome-text{
      h1.tittle{text-align: center;}
    }
  }
  .Host-Request-section{
    h1{
      font-size: 18px;text-align: center;
    }
    form{
      .photo-upload {
        .photo-wrap{margin: auto;}
        .btn.browse-photo{width: 100%;margin: 1em auto;}
      }
      button.btn-default{width: 100%;}
      .upload-IDcard-box h3,.upload-License-box h3{
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width : 320px) {

}
