/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {



}





/*==========  Non-Mobile First Method  ==========*/
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 480px) {
  div.product-detail{
    .product-wrap{
      padding-top: 6em;
      .dsc{
        .dsc-product-section{
          margin: 1em 0;
          .fasilitas{
            a.btn-primary{width: 100%;}
            .fasilitas-table{
              margin: 1em 0;
              td{
                  display:block;
                  width:100%;
              }

              tr{
                  display:block;
                  //margin-bottom:30px;
              }

              .aaaa {width: 100%;}
              .aaab {width: 100%;}
            }
          }
        }
      }
    }
    .galery-img{
      #links{
        img{
          min-width: 100%;
          max-width: 100%;
          margin: 0.5em 0;
        }
      }
    }
    .write-Review{
      .btn-detail-trip-review{
        max-width: 100%;
      }
    }
    .review-wrap{
      table.review{

        .review-text{
          padding: 0 1em;
          p.isi-review{
            font-size: 12px;
            line-height: 18px;
          }
          p.info-review{
            font-size: 10px;
            line-height: 18px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 320px) {

}
