.footer{
	position: relative;
	bottom: 0;
	width: 100%;
	height: auto;
	.footer-widget-section{
		padding: 1.5em 0;
		width: 100%;
		background-color: #fafafa;
			.widget_Social{
				.footer-logo{
					img{
						min-width: 140px;
						max-width: 140px;
						min-height: 40px;
						max-height: 40px;
						margin-bottom: 0.5em;
						
					}
				}
				p.logotext{
					font-size: 14px;
					color: $coloridentitas1;
					line-height: 10px;
				}
				ul.social-links{
					span{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						background-color: transparent;
						border: 1px solid $coloridentitas1;

					}
				}
			}
			h4{font-size: 18px;font-weight: bold;color: #000;}
			ul.nulstyle{
				li{
					a{font-size: 14px;color: #000;}
				}
			}
			//
	}
	.copyright-section{
		margin: 0;
		width: 100%;
		padding: 1em 0;
		background-color: #f5f5f5;
		text-align: center;
			font-size: 12px;
			color: #757575;
	}
}
